
body {background-color: brown;
}

h2 {color: palevioletred;}

h1 {color: goldenrod;}



h1 {font-size: 100%;
}

h1 {margin-right: 5%;}

#im2 {margin-left: 33%;}

#im2 {width: 30%;}

#im1 {margin-left: 20%;}

#im8 {margin-left: 30%;}

#im8 {width: 30%;}
